.hero {
    position: relative;
    background-image: url('images/hero.jpg');
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1; 
} */

.text-home {
    position: relative; 
    margin-top: -6em;
    text-align: justify;
}

.food-menu, .choose-us {
    position: relative;
    padding: 5rem 0;
    background: url("images/hero.jpg") center/cover no-repeat;
}

.food-menu::after, .choose-us::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(4px);
}

.menu-card img {
    border-radius: 14px;
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.hiw-card {
    height: 290px;
    width: 280px;
}

@media (max-width: 800px) {
    .text-home {
        margin-top: -13.5em;
    }
}

